*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
  background-color: brown;  
  color: bisque;
}
.productCard{
    width: 180px;
    background-color: rgb(229, 229, 229);
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.productCard button{
    height: 25px;
    width: 140px;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.productCard .buyNowBtn{
    background-color: rgb(0, 0, 86);
    margin-top: 10px;
    margin-bottom: 5px;

}

.productCard .buyNowBtn:hover{
    background-color: rgb(211, 211, 220);
    color: darkblue;
    cursor: pointer;
}

.productCard .closeBtn{
    background-color: rgb(0, 0, 21);

}
.productCard .closeBtn:hover{
    background-color: rgb(165, 0, 0);

}

.productCard img{
    width: 100px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.productCard img:hover{
    transform: scale(1.2);
    width: 120px;
}