*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: auto;

}

header > div{
    height: 80px;
    background-color: white;
    position: absolute;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

header ul a{
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    color: #1e1e1e;
    letter-spacing: 1px;
    line-height: 40px;
}

.hero-section{
    height: 100vh;
    background-image: url("./assets/banner-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section h1{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
    color: #fff;

}

.hero-section h1 span{
    font-weight: bolder;
}

.hero-section p{
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    max-width: 500px;
}

.features{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: -100px;
}

.features > div{
    background-color: rgb(188, 188, 188);
    height: 250px;
    width: 250px;
}

.filled-btn-pink{
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #ff589e;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    border: none;
}